

{% extends "base.html" %}
{% block content %}


<div style="background-image: url('https://c-rpg.net/img/bg.jpg');">

    <h1 style="text-align: center; color: rgb(94, 11, 11)">List of Slaves</h1>

    <a href="{% url 'person:list_person' %}" class="card-link" ><button type="button" class="btn btn-light">Alphabetical</button></a>
    <a href="{% url 'person:battle_list_person' %}" class="card-link" ><button type="button" class="btn btn-light">Lvl</button></a>

    
    <div style="display: flex; margin: 1rem; flex-wrap: wrap;">
        {% for person in list_of_person %}
        
        
        <div class="card" style="width: 18rem; margin: 3px; min-width: 200px; background-color: rgb(218, 192, 129);">
            <!-- <img src="https://d1vzi28wh99zvq.cloudfront.net/images/8957/298771.png" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{person.caste}} {{person.first_name}}</h5>
            </div>
            <ul class="list-group list-group-flush" style="background-color: rgb(218, 192, 129);">
                    <li class="list-group-item" style="background-color: rgb(218, 192, 129);"><b>Team Role:</b> {{person.team_role}}</li>
                    <li class="list-group-item" style="background-color: rgb(218, 192, 129);"><b>Weapons:</b>   {{person.weapon}}</li>
                    <li class="list-group-item" style="background-color: rgb(218, 192, 129);"><b>Shield:</b>    {{person.shield}}</li>
                    <li class="list-group-item" style="background-color: rgb(218, 192, 129);"><b>Armor:</b>     {{person.armor}}    <b>AC:</b> {{person.ac}}</li>
                    

                    
                       
                </ul>
                <div class="card-body">
                    <a href="/person/person_detail/{{person.id}}" class="card-link" ><button type="button" class="btn btn-info">Details</button></a>
                    <a href="/person/person_update/{{person.id}}" class="card-link">Update</a>
                    <a href="/person/person_delete/{{person.id}}" class="card-link"><button type="button" class="btn btn-danger">Delete</button></a>

                </div>
            </div>
            {% endfor %}
    </div>

</div>
{% endblock content %}